
# Files
.vscode/*
!.vscode/extensions.json
node_modules/
.expo/
dist/

# Debug & Logs
logs/
*.log
npm-debug.log*
npm-error.log*
yarn-error.log*
yarn-debug.log*

# Environment Files
*.env

# macOS
.DS_Store

# Extras
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/